
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body  {
    box-sizing: border-box;
}

.navigation-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    background-color: #ffffff;
}

.logo-link {
    text-decoration: none;
    color: #222222;
}

.navigation-right {
    display: flex;
    flex-direction: flex-end;
    justify-content: space-between;
    align-items: center;
    flex-basis: 16%;
}

.main-container {
    background-color: #e5e5e5;
    height: 100%;
}

.topbar-container {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}


.topbar-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 140px;
    width: 250px;
    background: url("./assets/Rectangle\ 4.svg");
}

.middle-text {
    display: inline-flex;
    background: #ffffff;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-weight: 700;
    color: #9A9A9A
}

.hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-image {
    background-color: #c4c4c4;
    width: 96%;
    height: 20rem ;
}

.product-container {
    display: flex;
    justify-content: space-between;
    
}

.product-card {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2rem;
    margin-top: 2rem;
    margin-left: 1.8rem;
    margin-right: 1.8rem;
    background-color: #c4c4c4;
    width: 50%;
    column-gap: 2rem;
}

.product-card .sub-title {
    font-weight: 400;
}

.product-image {
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 10rem;
    background-color: #ffffff;;
}

.product-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.footer-container {
    display: flex;
    justify-content: center;
    position: relative;
}

.button {
    width: 100px;
    height: 40px;
    border: none;
    cursor: pointer;
}

.login-button {
    background-color: #9A9A9A;
    color: #ffffff;
    font-weight: 700;
}

.input-search {
    width: 421px;
    height: 40px;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.products-wrapper {
    display: grid;
    grid-template-columns: 280px 1fr;
    grid-gap: 1rem;
}

.sidebar-section {
    height: fit-content;
}

.allproducts-section {
    height: fit-content;
    background-color: #f7f7f7;
}

.products-container {
    margin: 1rem;
}

.sidebar-header {
    display: flex;
    justify-content: space-between;
    margin: 1.4rem;
}

.filters-title {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    color: #000000;
}

.clear-title {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    text-decoration-line: underline;
    color: #000000;
}

.price-title {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    color: #000000;
    margin-left: 1.4rem;
}

.price-section {
    display: flex;
    flex-direction: column;    
}

.price-input-container {
    margin-left: 2rem;
}

.price-range {
    /* margin: 0.4rem 1.4rem 1.4rem 1.4rem; */
    -webkit-appearance: none;
    width: 240px;
    height: 5px;
    background-color: #9a9a9a;
    border-radius: 60px;
}

.price-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 25px;
    height: 25px;
    background-color: #9A9A9A;
    border-radius:20px;
}

.price-rangle-values {
    display: flex;
    justify-content: space-around;
    color: #b2b2b2;
}

.category-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    gap: 1rem;
    margin-top: 1.4rem;
    margin-left: 1.4rem;
}

.category-title {
    display: flex;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    color: #000000;
    font-style: normal;
}

.rating-title {
    display: flex;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    color: #000000;
    font-style: normal;
    margin-top: 1.4rem;
}

.rating-container {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    margin-left: 1.4rem;
    /* margin-left: 1.4rem;
    margin-top: 1.4rem; */
}

.rating-radio-button {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.sort-by-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 1.4rem;
    margin-top: 1.4rem;
    gap: 0.6rem;
    margin-bottom: 1rem;
}

.sort-by-radio-button {
    gap: 0.6rem;
}

.sort-by-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
}

.allproducts-title {
    display: flex;
    gap: 1.2rem;
    padding: 2rem;
}

.show-all-products-title {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    color: #000000;
}

.total-products-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 0.4rem;
    font-size: 16px;
    line-height: 24px;
    font-style: normal;
    font-weight: 400;
}

.product-image {
    width: 240px;
    background-color: #c4c4c4;
    height: 200px;
}

.product-card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 240px));
    gap: 2.7rem;
    padding-left: 2rem;
    
}

.product-card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;    
    background-color: #ffffff;
}

.product-description {
    background: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add-cart-button {
    width: 240px;
    background-color: #9A9A9A;
    border: none;
    height: 40px;
    color: #ffffff;
}

.product-price {
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
}

.add-cart-text {
    font-weight: 600;
}

.wishlist-text {
    display: flex;
    justify-content: center;
    margin: 1.4rem;
    font-weight: 700;
    line-height: 40px;
    font-size: 28px;
}

.wishlist-container {
    background-color: #f7f7f7;
}